<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brownie-Flask Debugger</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row my-4">
            <div class="col-12">
                <h1>Brownie-Flask Debugger</h1>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Get Message From Contract</h5>
                    </div>
                    <div class="card-body">
                        <form id="get_address_form">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="address_text">Contract Address : </label>
                                <input type="text" name="address" id="address_text" class="form-control"
                                    placeholder="Created Contract Address" aria-label="Recipient's username"
                                    aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Get
                                    Message!</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Set Message To Contract</h5>
                    </div>
                    <div class="card-body">
                        <form id="set_value_form" method="post" action="/set_message">
                            <h6><b>Sender Information</b></h6>                            
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="sender_address">Address :</label>
                                <input type="text" name="sender_address" id="sender_address"  class="form-control" placeholder="Sender's Account Address" aria-label="Recipient's username" aria-describedby="button-addon2">
                            </div> 
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="sender_pk">Private Key :</label>
                                <input type="text" name="sender_pk" id="sender_pk"  class="form-control" placeholder="Sender's Private Key" aria-label="Recipient's username" aria-describedby="button-addon2">
                            </div>  
                            <hr>
                            <h6><b>Contract Details</b></h6>                        
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="address_text_set">Contract Address :</label>
                                <input type="text" name="address" id="address_text_set"  class="form-control" placeholder="Created Contract Address" aria-label="Recipient's username" aria-describedby="button-addon2">
                            </div>  
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="value_text">Set Message Text to :</label>
                                <input type="text" name="value" id="value_text"  class="form-control" placeholder="Enter new Value" aria-label="Recipient's username" aria-describedby="button-addon2">
                            </div>                                                     
                            <button class="btn btn-primary" type="submit">Submit New Value</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

<script src="static/js/bootstrap.bundle.min.js"></script>
<script>
    let get_address_form = document.getElementById("get_address_form");
    let address_text = document.getElementById("address_text");

    get_address_form.addEventListener("submit", (event) => {
        event.preventDefault();
        let address = address_text.value;
        window.location.href = "/get_message/" + address;

    });
    

</script>

</html>